@use "@angular/material" as mat;
@use "../../scss/variables" as *;

:host {
  height: 100%;
  overflow-y: hidden;
}

mat-drawer-content {
  display: grid;
  grid-template: 1fr / auto 1fr;
  background-color: inherit;
}

app-sidebar {
  grid-row: 1 / -1;
}

app-sidebar ~ * {
  grid-column: 2;
  padding: 20px;
}

//   > app-sidebar + div {
//     padding: 20px;
//     flex: 1 auto;
//   }
// }

mat-drawer form {
  display: flex;
  flex-direction: column;
  padding: 20px 90px 20px 40px;
}

mat-drawer form * {
  flex: 1;
}

mat-drawer header {
  background: linear-gradient(mat.get-theme-color($theme, primary, 600), mat.get-theme-color($theme, primary, 500) 33%, mat.get-theme-color($theme, primary, 500));
  padding: 15px 20px;
  display: flex;
  gap: 15px;
}

mat-drawer header h2 {
  color: white;
  display: flex;
  margin: auto 2em;
}

mat-drawer form h4,
mat-drawer form h5 {
  display: inline-block;
  margin-bottom: 1ch;
}

app-region-tree {
  border: 1px solid mat.get-theme-color($theme, primary, 100);
}

.panel>button {
  margin: 6px 11px 10px 0px;
}

span.filter {
  color: white;
  background-color: gray;
  margin: 9px;
  padding: 4px 11px;
}

.panel-header {
  background-color: mat.get-theme-color($theme, primary, 50);
  border-color: #e2edeb;
  padding: 10px 15px 0px;
  border: 1px solid mat.get-theme-color($theme, primary, 100);
  border-bottom: 1px solid transparent;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  display: flex;
  align-items: center;
}

.panel-header>button:not(:first-child) {
  margin: 0px 20px 13px;
}

button mat-icon {
  position: relative;
  top: -1px;
  left: -4px;
}

table {
  width: 100%;
  border: 1px solid mat.get-theme-color($theme, primary, 100);
}

.mat-column-name {
  width: 8em;
}

.mat-column-target {
  width: 4em;
}

.mat-column-yellow {
  width: 4em;
}

.mat-column-updated {
  width: 6em;
}

.mat-column-actions {
  width: 4em;
}

tr.detail-row {
  height: 0;
}

tr.table-row:not(.expanded-row):hover {
  background-color: mat.get-theme-color($theme, primary, 50);
}

tr.table-row:not(.expanded-row):active {
  background-color: mat.get-theme-color($theme, primary, 100);
}

.table-row td {
  border-bottom-width: 0;
}

.expand-detail {
  overflow: hidden;
  display: grid;
  grid-template: auto auto / repeat(3, 1fr);
  align-items: center;
  column-gap: 2em;
}

.expand-edit {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2em;
}

.table-2-2 {
  display: grid;
  grid-template: auto auto / auto auto;
}

.self-center {
  align-self: center;
  justify-self: center;
}

.icon-5xl{
  height: 3rem;
  width: 3rem;
  font-size: 3rem;
}

.detail-item {
  grid-row: 1;
  column-gap: 1em;
  line-height: 1.5;
}

.detail-item-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.detail-grid-stretch {
  grid-column: 1 / -1;
  width: auto;
  line-height: 1.5;
  margin-bottom: 8px;
}

.expand-detail a {
  grid-row: 1 / 3;
  justify-self: center;
}
