<mat-drawer-container>
  <mat-drawer #drwr>
    <header>
      <h2>Filter</h2>
      <button mat-raised-button aria-label="Cancel" (click)="drwr.close()">
        <mat-icon>close</mat-icon> Cancel
      </button>
      <button mat-raised-button aria-label="Apply" (click)="loadTable(); drwr.close()">
        <mat-icon>save_alt</mat-icon> Apply
      </button>
    </header>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Measure Type</mat-label>
        <mat-select name="level" [(ngModel)]="selectedMeasureType" [disabled]="disabledAll">
          <mat-option *ngFor="let measureType of measureTypes" [value]="measureType">
            {{measureType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <h4>Region Hierarchy:</h4>
      <h5>{{ regions.ancestorPath.at(-1) }}</h5>
      <app-region-tree #regions [hierarchy]="hierarchy" [(selectedRegions)]="selectedHierarchy"></app-region-tree>
    </form>
  </mat-drawer>
  <mat-drawer-content>
    <app-sidebar></app-sidebar>
    <div>
      <h1>{{title}}</h1>
      <div class="panel panel-default panel-body">
        <!-- Error Section-->
        <app-errors [error]="errorMsg" [hidden]="!showError" [showContentPage]="showContentPage"
          [closeError]="closeError"></app-errors>
        <div class="panel panel-default ng-hide noBorder marB0" *ngIf="showError">
          <div class="panel-body padB0 marB0 noBorder">
            <ngb-alert type="danger" (closed)="closeError()">
              <p>{{errorMsg.heading}}</p>
              <section class="table-flip-scroll table-dynamic overflowAuto">
                <table class="table table-bordered table-striped cf no-margin">
                  <thead class="cf">
                    <tr>
                      <th class="numeric">
                        <div class="th"> <span>Row</span></div>
                      </th>
                      <th class="numeric">
                        <div class="th"> <span>Error Message</span></div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let errorRows of errorMsg.errorRows" class="itgTableTr">
                      <td class="alert-danger">{{errorRows.row}}</td>
                      <td class="alert-danger">{{errorRows.message}}</td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </ngb-alert>
          </div>
        </div>
        <div class="panel panel-default" [hidden]="!showError">
          <div class="panel-body padB0 marB0 noBorder">
            <ngb-alert type="danger" (closed)="closeError()">
              <p>{{errorMsg.heading}}</p>
              <section class="table-flip-scroll table-dynamic overflowAuto">
                <table class="table table-bordered table-striped cf no-margin">
                  <thead class="cf">
                    <tr>
                      <th class="numeric">
                        <div class="th"> <span>Row</span></div>
                      </th>
                      <th class="numeric">
                        <div class="th"> <span>Error Message</span></div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let errorRows of errorMsg.errorRows" class="itgTableTr">
                      <td class="alert-danger">{{errorRows.row}}</td>
                      <td class="alert-danger">{{errorRows.message}}</td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </ngb-alert>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="drwr.open()">
          <mat-icon>filter_list</mat-icon> Filter
        </button>
        <span class="filter" *ngFor="let filter of filtersDisplay">{{filter}}</span>
        <div class="panel-header">
          <mat-form-field appearance="fill">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyTableFilter($event)" placeholder="Search..." [disabled]="disabledAll" #input>
            <button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear"
              (click)="input.value=''; applyTableFilter($event)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <!-- <button mat-raised-button color="primary" aria-label="Edit Type" [matMenuTriggerFor]="eMenu">
            <mat-icon>edit</mat-icon> Edit Type
          </button>
          <mat-menu #eMenu="matMenu">
            <button mat-menu-item (click)="doEditType(); drwr.open()">{{selectedMeasureType.name}}</button>
          </mat-menu>
          <button mat-raised-button color="accent" aria-label="Add" [matMenuTriggerFor]="aMenu">
            <mat-icon>add</mat-icon> Add
          </button>
          <mat-menu #aMenu="matMenu">
            <button mat-menu-item (click)="doAddType(); drwr.open()">Measure Type</button>
            <a mat-menu-item [routerLink]="['add']">Measure Definition</a>
          </mat-menu> -->
          <button mat-raised-button color="primary" aria-label="Apply Children" (click)="applyToChildrenAction()">
            <mat-icon>check_circle</mat-icon> Apply to Children
          </button>
        </div>
        <!-- Table Section -->
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8" [trackBy]="identity">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Measure Definition </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Target Value </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode || element == !selectedRow">{{element.target}}</ng-container>
              <ng-container *ngIf="isEditMode && element == selectedRow">
                <mat-form-field>
                  <input matInput type="number" [(ngModel)]="model.value" [disabled]="disabledAll">
                </mat-form-field>
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef="yellow">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Target Yellow </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode ">{{element.yellow}}</ng-container>
              <ng-container *ngIf="element == selectedRow">
                <mat-form-field>
                  <input matInput type="number" [(ngModel)]="yellow" [disabled]="disabledAll">
                </mat-form-field>
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef="updated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated </th>
            <td mat-cell *matCellDef="let element">{{ element.updated.shortDt}}</td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell  *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element" >
              <button mat-raised-button color="primary" (click)="onEdit(element)" *ngIf="!isEditMode || element != selectedRow">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-raised-button color="primary" (click)="onSave(element)" *ngIf="element == selectedRow">
                <mat-icon>save</mat-icon>
              </button>
              <button mat-raised-button color="warn" (click)="onCancel(element)" *ngIf="isEditMode && element == selectedRow">
                <mat-icon>cancel</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="expandable-detail" [@detailExpand]="expandDetail.query(element).toString()">
                <div class="detail-items-1">
                  <b>ID</b><span>{{element.id}}</span>
                  <b>Units</b><span>{{element.units}}</span>
                  <b>Calculated</b><span>{{element.calculated}}</span>
                </div>
                <div class="detail-items-2">
                  <b>Description</b><span>{{element.description}}</span>
                  <b>Explanation</b><span>{{element.explanation}}</span>
                  <b>Evaluated</b><span>{{element.evaluated}}</span>
                </div>
                <div class="detail-items-3"><b>{{element.expression ? 'Expression' : ''}}</b> {{element.expression}}</div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"
            [class.expanded-row]="expandDetail.query(row)" (click)="expandDetail.toggle(row)"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell empty-table" colspan="6">No data matching the filter {{ input.value }}</td>
          </tr>
        </table>
        <footer>
          <span> Showing {{dataSource.filteredData.length}} entries </span>
        </footer>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>



























<!-- <app-sidebar></app-sidebar>
<div class="page page-table" data-ng-controller="TargetsCtrl">
  <div class="row ui-section">
    <div class="col-lg-8 clearfix">
      <h2 class="section-header2">{{title}}</h2>
    </div>
    <div class="col-md-12 itgMinH">

      <div class="panel panel-default">


        <aside data-ng-include="'app/layout/progress.html'"></aside>


        <aside data-ng-include="'app/layout/errors.html'"></aside>


        <aside ng-show="showContentPage" data-ng-include="'app/layout/filters.html'"></aside>


        <div ng-show="showContentPage" class="panel-body padT0">

          <div class="panel panel-default itgTable">


            <div class="panel-heading">
              <div class="row">

                <div class="col-md-4">
                  <form>
                    <input type="text" placeholder="Search..." class="form-control" data-ng-model="skTargets" data-ng-keyup="populateTable()" ng-disabled="disabledAll">
                  </form>
                </div>

                <div class="col-md-8">
                  <div ng-if="allow" class="form-inline textAlignR">
                    <div class="form-group">
                      <button mat-raised-button type="button" class="md-raised btn-w-lg md-primary bg-info2 marR20 mmBtnDisabled padR15" aria-label="Apply" [disabled]="disabledAll" (click)="applyToChildren()" matTooltip="Apply to Children">
                        Apply to Children
                      </button>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <section class="table-flip-scroll table-dynamic overflowAuto" data-ng-controller="TableCtrl">
              <table class="table table-bordered table-striped cf no-margin">
                <thead class="cf">
                  <tr>
                    <th class="numeric">
                      <div class="th">
                        <span>Measure Definition</span>
                        <span class="fa fa-angle-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                        <span class="fa fa-angle-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span>
                      </div>
                    </th>
                    <th class="numeric">
                      <div class="th">
                        Target Value
                        <span class="fa fa-angle-up" data-ng-click=" order('target') " data-ng-class="{active: row == 'target'}"></span>
                        <span class="fa fa-angle-down" data-ng-click=" order('-target') " data-ng-class="{active: row == '-target'}"></span>
                      </div>
                    </th>
                    <th class="numeric">
                      <div class="th">
                        Target Yellow
                        <span class="fa fa-angle-up" data-ng-click=" order('yellow') " data-ng-class="{active: row == 'yellow'}"></span>
                        <span class="fa fa-angle-down" data-ng-click=" order('-yellow') " data-ng-class="{active: row == '-yellow'}"></span>
                      </div>
                    </th>
                    <th class="numeric">
                      <div class="th">
                        Updated
                        <span class="fa fa-angle-up" data-ng-click=" order('updated.longDt') " data-ng-class="{active: row == 'updated'}"></span>
                        <span class="fa fa-angle-down" data-ng-click=" order('-updated.longDt') " data-ng-class="{active: row == '-updated'}"></span>
                      </div>
                    </th>
                    <th class="numeric itgWidth100 textAlignM"><div class="th"></div></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of targetResponse?.data" class="itgTableTr">
                    <td style="width:240px;">
                      <p class="itgPopup">
                        <span popover-placement="right" uib-popover-template="dPopover.templateUrl" popover-trigger="mouseenter" ng-mouseover="mmPopover(data)">
                          {{data.name}}
                        </span>
                      </p>
                    </td>
                    <td id="tdA{{data.id}}">{{data.value}}</td>
                    <td id="tdB{{data.id}}">{{data.yellow}}</td>
                    <td style="width:115px;">
                      <span uib-tooltip-template="'mmUpdateTooltipTemplate.html'">{{ data.updated.shortDt }}</span>
                    </td>
                    <td class="mar0 itgWidth100 textAlignM" style="width: 250px;">
                      <div *ngIf="!allow">
                        <button mat-button type="button" class="itgTdBtn btn-w-xxxs bg-info2 edit{{data.id}}" [disabled]="disabledAll" (click)="edit(data)" matTooltip="Edit">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-button type="button" class="itgTdBtn btn-w-xxxs bg-save btnEdit btnEdit" [disabled]="disabledAll" (click)="save(data)" matTooltip="Save">
                          <mat-icon>save</mat-icon>
                        </button>
                        <button mat-button type="button" class="itgTdBtn btn-w-xxxs bg-cancel marL5 btnEdit{{data.id}}" [disabled]="disabledAll" (click)="cancel(data)" matTooltip="Cancel">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </div>
                      <p *ngIf="!allow" class="itgLock" uib-tooltip="Not Allowed"><span class="glyphicon glyphicon-eye-close"></span></p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <footer class="table-footer">
                <span> Showing {{this.data.length}} entries </span>
              </footer>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="tPopoverTemplate.html">
  <div class="form-group itgPopover">
    <div class="itgPopoverWrap">
      <p>ID: <span>{{dPopover.id}}</span></p>
      <p>Units: <span>{{dPopover.units}}</span></p>
      <p>Expression: <span>{{dPopover.expression}}</span></p>
    </div>
    <p class="padT10"><span>{{dPopover.description}}</span></p>
  </div>
</script>

<script type="text/ng-template" id="tUpdateTooltipTemplate.html">
  <span>{{data.updated.by}}<br />{{data.updated.longDt}}</span>
</script> -->
