:host {
  display: grid;
  grid-template: 1fr / auto 1fr;
  height: 100%;
}

app-sidebar {
  grid-row: 1 / -1;
}

app-sidebar~* {
  padding: 20px;
  grid-column: 2;
}

.panel-body {
  padding: 15px;
  color: var(--jaguar-black);
}

.panel-header {
  background: hsl(var(--mat-primary-50));
  margin-top: 10px;
  border: 1px solid hsl(var(--mat-primary-100));
  padding: 10px 15px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  display: flex;
  align-items: center;
}

.panel-header> :last-child {
  margin: 10px 22px;
}

.mat-raised-button {
  min-width: 8em;
}

form {
  margin: 1em 0px;
}

.form-grid {
  display: grid;
  grid: auto-flow / repeat(auto-fit, minmax(7em, 1fr));
  gap: .625em;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}

.span-all {
  grid-column: 1 / -1;
}

.flex {
  display: flex;
  gap: .625em;
}

div.flex mat-checkbox {
  flex: 1;
  margin: .625em 0em;
}

.accent-6 {
  color: hsl(var(--jaguar-gold));
  opacity: .6;
}
