<app-sidebar></app-sidebar>
<div>
  <h1>{{title}}</h1>
  <main class="panel panel-default panel-body mat-elevation-z4">
    <a mat-fab color="primary" navigateBack="measuredefinition"><mat-icon>arrow_back</mat-icon></a>
    <div class="panel-header">
      <button mat-raised-button color="primary" aria-label="Save" (click)="save()">
        <mat-icon>save_alt</mat-icon> Save
      </button>
      <button mat-raised-button color="primary" aria-label="Refresh" (click)="refresh() || mdForm.reset()">
        <mat-icon>refresh</mat-icon> Refresh
      </button>
    </div>
    <form #mdForm>
      <div class="field-group">
        <mat-form-field appearance="fill">
          <mat-label>Measure Definition Name</mat-label>
          <input matInput name="mdName" [(ngModel)]="md.name" required="true" placeholder="Ex. Cycle Count Performance"
            [disabled]="disabledAll">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Variable Name</mat-label>
          <input matInput name="varName" [(ngModel)]="md.varName" required="true" placeholder="Ex. EEMCS" [disabled]="disabledAll">
        </mat-form-field>
        <mat-form-field class="select-field" appearance="fill">
          <mat-label>Measure Type</mat-label>
          <mat-select name="measureType" [(ngModel)]="md.measureType" required="true" [disabled]="disabledAll">
            <mat-option *ngFor="let mt of measureTypes" [value]="mt">
              {{mt.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field class="width-100" appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput name="description" [(ngModel)]="md.description"
          placeholder="Ex. Actioni contrariam semper et aequalem esse reactionem." [disabled]="disabledAll">
      </mat-form-field>
      <div class="field-group">
        <mat-form-field class="number-field" appearance="fill">
          <mat-label>Precision</mat-label>
          <input matInput name="precision" type="number" [(ngModel)]="md.precision" required="true" [disabled]="disabledAll">
        </mat-form-field>
        <mat-form-field class="select-field" appearance="fill">
          <mat-label>Units</mat-label>
          <mat-select name="unit" [(ngModel)]="md.unit" [disabled]="disabledAll">
            <mat-option *ngFor="let unit of units" [value]="unit">
              {{unit.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="number-field" appearance="fill">
          <mat-label>Field Number</mat-label>
          <input matInput name="fieldNumber" type="number" [(ngModel)]="md.fieldNumber" required="true" [disabled]="disabledAll">
        </mat-form-field>
      </div>
      <mat-form-field class="width-100" appearance="fill">
        <mat-label>Expression</mat-label>
        <textarea matInput name="expression" [(ngModel)]="md.expression" placeholder="Ex. E=MC²"
          [disabled]="disabledAll"></textarea>
      </mat-form-field>
      <div class="field-group">
        <mat-form-field class="number-field" appearance="fill">
          <mat-label>Priority</mat-label>
          <input matInput name="priority" type="number" [(ngModel)]="md.priority" required="true" [disabled]="disabledAll">
        </mat-form-field>
        <mat-form-field class="select-field" appearance="fill">
          <mat-label>Report Interval</mat-label>
          <mat-select name="intervals" [(ngModel)]="md.interval" (selectionChange)="intervalChanged($event)"
            [disabled]="disabledAll" #rint>
            <mat-option *ngFor="let interval of intervals" [value]="interval">
              {{interval.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="field-group-label">Aggregation Intervals</div>
      <div class="field-group">
        <mat-checkbox name="weekly" [(ngModel)]="md.weekly" color="primary" (change)="cbChanged($event)"
          [disabled]="rint.value == null || rint.value.id >= Intervals.Weekly">Weekly</mat-checkbox>
        <mat-checkbox name="monthly" [(ngModel)]="md.monthly" color="primary" (change)="cbChanged($event)"
          [disabled]="rint.value == null || rint.value.id >= Intervals.Monthly">Monthly</mat-checkbox>
        <mat-checkbox name="quarterly" [(ngModel)]="md.quarterly" color="primary" (change)="cbChanged($event)"
          [disabled]="rint.value == null || rint.value.id >= Intervals.Quarterly">Quarterly</mat-checkbox>
        <mat-checkbox name="yearly" [(ngModel)]="md.yearly" color="primary" (change)="cbChanged($event)"
          [disabled]="rint.value == null || rint.value.id >= Intervals.Yearly">Yearly</mat-checkbox>
        <mat-form-field class="select-field" appearance="fill">
          <mat-label>Aggregation Function</mat-label>
          <mat-select name="units" [(ngModel)]="md.aggFunction" required="true" [disabled]="disabledAll">
            <mat-option *ngFor="let fn of aggFunctions" [value]="fn">
              {{fn.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </main>
</div>
