.center {
    display: block;
    margin-left: 8;
    margin-right: 8;
    width: 10%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}