<!--<p>login works!</p>-->
<div class="container">
    <img class="mb-4 center" src="../assets/images/logo1.png" alt="" width="72" height="72">
    <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
        <!--<h1 class="text-center text-primary">Please sign in</h1>-->
        <h2 class="text-center text-primary">Login</h2>
        <hr>
        <div class="mb-3">
            <input type="text" 
                class="form-control" 
                name="username" 
                [(ngModel)]="model.username" 
                placeholder="Username"
                >
        </div>
        <div class="mb-3">
            <input type="password" 
                class="form-control" 
                name="password" 
                [(ngModel)]="model.password" 
                placeholder="password"
                >
        </div>
        <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        </div>
        <div class="class text-center">
            <button class="btn btn-success me-2" type="submit">Login</button>
            <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>

<!--<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>CLS Data Portal Deliveries</h1>
        <p class="lead">placeholder for the line...</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
            <button class="btn btn-primary btn-info btn-lg">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="div col-4">
                <!--<p>Register form goes here</p>
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
                <app-login></app-login>
            </div>
        </div>
    </div>
</div>

<form>
    <img class="mb-4" src="../assets/images/logo1.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2023</p>
  </form>-->
  
  