/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@use "sass:color";
@use "@angular/material" as mat;
@use "scss/variables" as *;

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    /*url(/assets/fonts/MaterialIcons-Regular.woff2) format("woff2"),*/
    url(/assets/fonts/MaterialIcons-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(/MaterialIconsOutlined-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIconsOutlined-Regular"),
    /*url(/assets/fonts/MaterialIcons-Regular.woff2) format("woff2"),*/
    url(/assets/fonts/MaterialIconsOutlined-Regular.otf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 200;
  src: url("assets/fonts/roboto-thin-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-thin-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 200;
  font-style: italic;
  src: url("assets/fonts/roboto-thinitalic-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-thinitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("assets/fonts/roboto-light-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src: url("assets/fonts/roboto-lightitalic-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-lightitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src: url("assets/fonts/roboto-italic-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("assets/fonts/roboto-medium-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  src: url("assets/fonts/roboto-mediumitalic-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-mediumitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("assets/fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src: url("assets/fonts/roboto-bolditalic-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-bolditalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("assets/fonts/roboto-black-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-black-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  src: url("assets/fonts/roboto-blackitalic-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-blackitalic-webfont.woff") format("woff");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

*, ::after, ::before {
  box-sizing: border-box;
}

html,
body,
mat-drawer-container,
mat-drawer-content,
mat-drawer,
app-sidebar {
  height: 100%;
}

/* https://material.angular.io/guide/theming-your-components */
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: mat.get-theme-color($theme, background, background);
}

h1,
h2,
h3,
h4 {
  color: mat.get-theme-color($theme, primary, text);
}

.fixed-top.fixed-top {
  position: fixed;
  inset: 0 0 auto 0;
}

.panel {
  margin-bottom: 1rem;
  background: mat.get-theme-color($theme, background, card);
  border: 1px solid transparent;
  border-radius: 2px;
}

.panel-default {
  border-color: hsl(186, 23%, 91%);
  border-color: color.adjust(mat.get-theme-color($theme, primary, text), $saturation: -50%, $alpha: -0.86);
}

.snackbar-success {
  background: #1c680d
}

.snackbar-info {
  background: #074080
}

.snackbar-warning {
  background: #fb0
}

.snackbar-error {
  background: #ba1212
}

.flex-column div {
  flex-direction: column;
}

.select-none {
  user-select: none;
}

.inactive {
  opacity: .34;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.ml-8.ml-8 {
  margin-left: 2rem;
}

th .mat-sort-header-content {
  text-align: initial;
}

.align-bottom {
  vertical-align: bottom;
}

.text-sm.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bg-white {
  background-color: mat.get-theme-color($theme, background, background);
}

mat-icon {
  vertical-align: bottom;
}

.min-w-24,
a.min-w-24,
button.min-w-24 {
  min-width: 6rem; /* 96 px */
}

.min-w-32,
a.min-w-32,
button.min-w-32 {
  min-width: 8rem; /* 128 px */
}

.p-2 {
  padding: 0.5rem; /* 8px */
}

.p-4 {
  padding: 1rem; /* 16px */
}

.pr-4 {
  padding-right: 1rem; /* 16px */
}

.pb-2 {
  padding-bottom: 0.5rem; /* 8px */
}

.pb-6 {
  padding-bottom: 1.5rem; /* 24 px */
}

.w-28 {
  width: 7rem;
}

.m-1 {
  margin: .25rem; /* 4px */
}

.m-2 {
  margin: .5rem; /* 8px */
}

.mx-3 {
  margin-left: 0.75rem; /* 12px */
  margin-right: 0.75rem; /* 12px */
}

.thick-red-border {
  border: 8px solid red;
}

footer div {
  font-size: smaller;
  color: mat.get-theme-color($theme, foreground, secondary-text);
}
