:host {
  height: 100%;
  overflow-y: hidden;
}

mat-progress-bar {
  position: fixed;
  inset: 0 0 auto 0;
}

mat-drawer-container,
mat-drawer,
app-sidebar {
  height: 100%;
}

mat-drawer-content {
  display: grid;
  grid-template: 1fr / auto 1fr;
  background-color: inherit;
  height: 100%;
}

app-sidebar {
  grid-row: 1 / -1;
}

app-sidebar~* {
  grid-column: 2;
  padding: 20px;
}

mat-drawer form {
  padding: 20px 70px 20px 40px;
}

mat-drawer form * {
  display: block;
}

mat-drawer header {
  background: linear-gradient(hsl(var(--mat-primary-600)), hsl(var(--mat-primary-500)) 33%, hsl(var(--mat-primary-500)));
  padding: 15px 20px;
  display: flex;
  gap: 15px;
}

mat-drawer header h2 {
  color: white;
  display: inline-block;
  margin: auto 2em;
}

mat-drawer form h4,
mat-drawer form h5 {
  display: inline-block;
  margin-bottom: 1ch;
}

mat-drawer form h5 {
  margin-left: 2em;
  font-size: 14px;
}

app-region-tree {
  border: 1px solid hsl(var(--mat-primary-100));
}

.panel-body {
  padding: 15px;
}

.mat-raised-button {
  min-width: 8em;
}

div.panel>button {
  margin: 6px 11px 10px 0px;
}

span.filter {
  color: white;
  background-color: gray;
  margin: 9px;
  padding: 4px 11px;
}

.panel-header {
  background-color: hsl(var(--mat-primary-50));
  border-color: #e2edeb;
  padding: 10px 15px 0px;
  border: 1px solid hsl(var(--mat-primary-100));
  border-bottom: 1px solid transparent;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  display: flex;
  align-items: center;
}

.panel-header> :first-child {
  margin-right: auto;
}

.panel-header>button:not(:first-child) {
  margin: 0px 20px 13px;
}

button mat-icon {
  position: relative;
  top: -1px;
  left: -4px;
}

table {
  width: 100%;
}

td mat-checkbox {
  margin: 3px 2ch 3px 1ch;
}

tr.detail-row {
  height: 0;
}

td.mat-column-measureDefinition:not(.expanded-row):hover {
  background-color: hsl(var(--mat-primary-50));
}

td.mat-column-measureDefinition:not(.expanded-row):active {
  background-color: hsl(var(--mat-primary-100));
}

.table-row td {
  border-bottom-width: 0;
}

.expandable-detail {
  overflow: hidden;
  text-align: center;
}

.expandable-detail button {
  margin: 1ch auto;
}

footer {
  padding: 1em;
}
