:host {
  display: grid;
  grid-template: 1fr / auto 1fr;
  height: 100%;
}

app-sidebar {
  grid-row: 1 / -1;
}

app-sidebar ~ * {
  padding: 20px;
  grid-column: 2;
}

button {
  font-size: larger
}

.invisible {
  opacity: 0;
}

.form-inline .form-group {
  margin-bottom: 0;
  vertical-align: middle;
  display: inline-block;
}

.page-header {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 24px;

  :first-child {
    margin-right: auto;
  }
}

.panel-header {
  background-color: var(--mat-primary-50);
  border-color: #e2edeb;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}

.panel-body {
  padding: 15px;
}

.section-1 {
  display: flex;
  gap: 18px;

  > :first-child {
    width: 17rem;
  }

  > :last-child {
    display: flex;
    flex-direction: column;
    gap: 12px;

    > form {
      display: flex;
      flex-direction: column;
    }
  }
}

.button-row {
  display: flex;
  gap: 15px;
}

.drop {
  border: 4px dashed #bbb;
  border-radius: 5px;
  padding: 2em;
  font-size: 2em;
  line-height: 1;
  color: #bbb;
  text-align: center;
}

.interval-icon {
  position: relative;
  top: 6px;
}

.icon-prefix {
  margin-right: 6px;
}
