$jaguar-teal: (
 50: hsl(191, 41%, 91%),
100: hsl(191, 41%, 79%),
200: hsl(191, 42%, 65%),
300: hsl(191, 42%, 51%),
400: hsl(191, 63%, 40%),
500: hsl(191, 98%, 25%),
600: hsl(191, 98%, 23%),
700: hsl(190, 99%, 22%),
800: hsl(190, 100%, 21%),
900: hsl(187, 100%, 15%),
A100: hsl(183, 100%, 83%),
A200: hsl(183, 100%, 70%),
A400: hsl(182, 82%, 51%),
A700: hsl(189, 100%, 37%),
contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000
));

$orange: (
  50 : #fef3e2,
  100 : #fde1b6,
  200 : #fcce86,
  300 : #fcba57,
  400 : #fbab36,
  500 : #fa9d21,
  600 : #f6911e,
  700 : #f0821b,
  800 : #e97318,
  900 : #df5b15,
  A100 : #ffffff,
  A200 : #ffeee5,
  A400 : #ffcdb3,
  A700 : #ffbc99,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
