@use "@angular/material" as mat;
@use "custom" as *;

$app-theme: mat.define-light-theme((
    color: (
    primary: $primary,
    accent: $accent,
    warn: $warn),
    typography: mat.define-typography-config(),
    density: 0
));

@include mat.core-theme($app-theme);
@include mat.button-theme($app-theme);
@include mat.checkbox-theme($app-theme);
@include mat.dialog-theme($app-theme);
@include mat.form-field-theme($app-theme);
@include mat.icon-theme($app-theme);
@include mat.input-theme($app-theme);
@include mat.progress-bar-theme($app-theme);
@include mat.radio-theme($app-theme);
@include mat.select-theme($app-theme);
@include mat.tree-theme($app-theme);
