/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@use "@angular/material" as mat;
@import "./scss/_variables.scss";

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    /*url(/assets/fonts/MaterialIcons-Regular.woff2) format("woff2"),*/
    url(/assets/fonts/MaterialIcons-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 200;
  src: url("assets/fonts/roboto-thin-webfont.woff2") format("woff2"),
       url("assets/fonts/roboto-thin-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 200;
  font-style: italic;
  src: url("assets/fonts/roboto-thinitalic-webfont.woff2") format("woff2"),
       url("assets/fonts/roboto-thinitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("assets/fonts/roboto-light-webfont.woff2") format("woff2"),
       url("assets/fonts/roboto-light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src: url("assets/fonts/roboto-lightitalic-webfont.woff2") format("woff2"),
       url("assets/fonts/roboto-lightitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
       url("assets/fonts/roboto-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src: url("assets/fonts/roboto-italic-webfont.woff2") format("woff2"),
       url("assets/fonts/roboto-italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("assets/fonts/roboto-medium-webfont.woff2") format("woff2"),
       url("assets/fonts/roboto-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  src: url("assets/fonts/roboto-mediumitalic-webfont.woff2") format("woff2"),
       url("assets/fonts/roboto-mediumitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("assets/fonts/roboto-bold-webfont.woff2") format("woff2"),
       url("assets/fonts/roboto-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src: url("assets/fonts/roboto-bolditalic-webfont.woff2") format("woff2"),
       url("assets/fonts/roboto-bolditalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("assets/fonts/roboto-black-webfont.woff2") format("woff2"),
       url("assets/fonts/roboto-black-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  src: url("assets/fonts/roboto-blackitalic-webfont.woff2") format("woff2"),
       url("assets/fonts/roboto-blackitalic-webfont.woff") format("woff");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #eff1f3;
}

h1,
h2,
h3,
h4 {
  color: var(--mat-primary-600);
}

.panel {
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
}

.panel-default {
  border-color: #e2edeb;
}

.snackbar-success {
  background: #1c680d
}

.snackbar-info {
  background: #074080
}

.snackbar-warning {
  background: #fb0
}

.snackbar-error {
  background: #ba1212
}

:is(app-useradd, app-useredit) form>div label.mat-checkbox-layout {
  flex-direction: column-reverse;
}

:is(app-useradd, app-useredit) form>div label.mat-checkbox-layout>span.mat-checkbox-inner-container {
  margin: 2px auto;
}

.tooltips {
  background: var(--jaguar-black);
}
