<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="API" stopProcessing="true">
                    <match url="^api/.*" />
                    <action type="Rewrite" url="https://hw.scylla-brill.ts.net:40443/{R:0}" logRewrittenUrl="false" />
                </rule>
                <rule name="Angular SPA" enabled="true" stopProcessing="true">
                    <match url="^.*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
