<div class="page">
  <div class="topbar" *ngIf="_navSettingsService.enableNavBar">
    <div *ngIf="opened" class="nav-logo-expanded">
      <img src="../assets/images/JnJ_Logo.png" width="162" height="40" alt="J&J Logo" class="logo">
    </div>
    <div *ngIf="!opened" class="nav-logo-collapsed">
      <img src="../assets/images/JnJ_Logo_sm.png" width="35" height="29" alt="J&J Logo Collapsed" class="logo">
    </div>
  </div>
  <div class="nav-toggle">
    <i class="fa fa-bars fa-2x" (click)="toggle()"></i>
  </div>
  <div *ngIf="_navSettingsService.enableNavBar">
    <a class="help-button" href="../assets/docs/CLS_Data_Portal_User_Guide.pdf"><mat-icon aria-hidden="true" aria-label="Example home icon" fontIcon="home">help</mat-icon></a>
    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown style="cursor: pointer;">
      <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome {{user.userName | titlecase}} </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink="/users">User Management</a>
        <a class="dropdown-item">Settings</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
      <!-- <div>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div> -->
      <!-- <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown style="cursor: pointer;">
          <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome {{user.userName | titlecase}} </a>
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item" routerLink="/users">User Management</a>
            <a class="dropdown-item">Settings</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
      </div> -->
    </div>
  </div>
  <div *ngIf="_navSettingsService.enableNavBar" [ngClass]="{'sidebar-expanded': opened, 'sidebar-collapsed': !opened}" class="sidebar">
    <div class="sidebar-title" *ngIf="opened">CLS Data Portal</div>
    <ul>
      <li>
        <i class="fa fa-calendar" routerLink="/measuredata"></i><span class="text-li" routerLink="/measuredata" *ngIf="opened">Measure Data</span>
      </li>
      <li>
        <i class="fa fa-pencil" routerLink="/targets"></i><span class="text-li" routerLink="/targets" *ngIf="opened">Targets</span>
      </li>
      <li>
        <i class="fa fa-list" routerLink="/measures"></i><span class="text-li" routerLink="/measures" *ngIf="opened">Measures</span>
      </li>
      <li>
        <i class="fa fa-file" routerLink="/measuredefinition"></i><span class="text-li" routerLink="/measuredefinition" *ngIf="opened">Measure Definition</span>
      </li>
      <li>
        <i class="fa fa-map" routerLink="/hierarchy"></i><span class="text-li" routerLink="/hierarchy" *ngIf="opened">Hierarchy</span>
      </li>
      <li>
        <i class="fa fa-upload" routerLink="/dataimports"></i><span class="text-li" routerLink="/dataimports" *ngIf="opened">Data Imports</span>
      </li>
      <li>
        <i class="fa fa-link"></i><span class="text-li" *ngIf="opened">Tableau</span>
      </li>
    </ul>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <div class="nav-wrapper">
    <ul id="nav" class="nav" data-slim-scroll data-collapse-nav data-highlight-active>

      <li class="nav-title f14 fbold padL5 marT30I"> <span>CLS DATA PORTAL</span> </li>
          <li>
        <a md-button aria-label="meanu" ui-sref="measuredata"><i class="zmdi zmdi-calendar-note"></i><span>Measure Data</span></a>
      </li>
          <li ng-if="showMenuSub">
        <a md-button aria-label="meanu" ui-sref="targets"><i class="zmdi zmdi-edit"></i><span>Targets</span></a>
      </li>
          <li ng-if="showMenu">
        <a md-button aria-label="meanu" ui-sref="measures"><i class="zmdi zmdi-view-list"></i><span>Measures</span></a>
      </li>
          <li ng-if="showMenuSub">
        <a md-button aria-label="meanu" ui-sref="measuredefinition"><i class="zmdi zmdi-ruler"></i><span>Measure Definition</span></a>
      </li>
          <li ng-if="showMenu">
        <a md-button aria-label="meanu" ui-sref="hierarchy"><i class="zmdi zmdi-map"></i><span>Hierarchy</span></a>
      </li>
          <li>
        <a md-button aria-label="meanu" ui-sref="dataimports"><i class="zmdi zmdi-upload"></i><span>Data Imports</span></a>
      </li>
          <li>
        <a md-button aria-label="meanu"  target="_blank"><i class="zmdi zmdi-link"></i><span>Tableau Dashboard</span></a>
      </li>

    </ul>
  </div> -->
