/* position: sticky;  */
.topbar {
  color: white;
  background-color: #0A8CAA;
  padding: 15px 30px;
}

  .topbar + div {
    display: flex;
    color: white;
    background-color: #0A8CAA;
    padding: 20px 20px;
  }

    .topbar + div + div {
      color: white;
      background-color: #0A8CAA;
      padding: 6px;
    }

.nav-toggle {
    cursor: pointer;
}

.sidebar-expanded {
  width: 280px;
}

.sidebar-collapsed {
  width: 85px;
}

.sidebar {
  background-color: #3D4051;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  /* transition: all .3s ease;
    transform: translateX(-100%);
    overflow-y: auto; */
  color: white;
  height: 100%;
}

.sidebar-title {
  font-size: 24px;
  margin: 40px auto;
  text-align: center;
}

.sidebar li {
  list-style: none;
  margin: 20px auto;
  font-size: 20px;
  cursor: pointer;
}

  .sidebar li span {
    margin-left: 20px;
  }

.sidebar + div {
  grid-row: 2;
  grid-column: 2/span 2;
}

.dropdown {
  display: inline-block;
  margin: 20px 100px;
}

.help-button {
  display: inline;
  margin: 20px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  border-radius: 50%;
}

.main {
  display: flex;
  height: auto;
}

.page {
  display: grid;
  min-height: 100vh;
  grid-template: 70px 1fr / auto 1fr auto;
  padding: initial;
}
