<div [ngClass]="{'sidebar-expanded': expanded(), 'sidebar-collapsed': !expanded()}" class="sidebar mat-elevation-z6">
  @if (expanded()) {
  <header class="sidebar-title text-center">DELIVER Data Portal</header>
  }
  <ul>
    <li matRipple>
      <a routerLink="/measuredata">
        <mat-icon fontIcon="event_note" />
        @if (expanded()) {
        <span>Measure Data</span>
        }
      </a>
    </li>
    @if (roleId > 1) {
    <li matRipple>
      <a routerLink="/targets">
        <mat-icon fontIcon="track_changes" />
        @if (expanded()) {
        <span>Targets</span>
        }
      </a>
    </li>
    }
    @if (roleId > 2) {
    <li matRipple>
      <a routerLink="/measures">
        <mat-icon fontIcon="checklist" />
        @if (expanded()) {
        <span>Measures</span>
        }
      </a>
    </li>
    }
    @if (roleId > 1) {
    <li matRipple>
      <a routerLink="/measuredefinition">
        <mat-icon fontIcon="description" />
        @if (expanded()) {
        <span>Measure Definition</span>
        }
      </a>
    </li>
    }
    @if (roleId > 2) {
    <li matRipple>
      <a routerLink="/hierarchy">
        <mat-icon fontIcon="map" />
        @if (expanded()) {
        <span>Hierarchy</span>
        }
      </a>
    </li>
    }
    <li matRipple>
      <a routerLink="/dataimports">
        <mat-icon fontIcon="publish" />
        @if (expanded()) {
        <span>Data Imports</span>
        }
      </a>
    </li>
    <li>
      <a (click)="tableau()">
        <mat-icon fontIcon="link" />
        @if (expanded()) {
        <span matRipple>Tableau</span>
        }
      </a>
    </li>
  </ul>
</div>
