<app-sidebar/>
<div>
  @if (progress) {
  <div class="fixed-top bg-white"><mat-progress-bar mode="indeterminate" title="progress" /></div>
  }
  <h1>{{title}}</h1>
  <main class="panel panel-default p-4 mat-elevation-z4">
    <div class="panel panel-default">
      <!-- Heading and Buttons Section-->
      <div class="panel-header" [hidden]="!showContentPage">
        <!-- Progress Section-->
        <div class="page-header">
          <div class="form-inline mr-auto">
            <dl class="form-group">
              <dt class="f12">Calculation Update Every</dt>
              <dd>{{calculationTime}}</dd>
            </dl>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Data Import Type</mat-label>
            <mat-select class="textAlignL" [(ngModel)]="selImportSelected" aria-label="Select"
              [disabled]="disImportSel" (ngModelChange)="onSelImportChange()">
              @for (import of selImport; track identity($index, import)) {
                <mat-option [value]="import">
                  {{import.name}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="accent" aria-label="Upload"
            [disabled]="disUpload" (click)="processUpload()">
            <mat-icon class="padR10">upload</mat-icon> Upload
          </button>
        </div>
      </div>
      <div class="p-4" [hidden]="!showContentPage">
        <div class="section-1">
          <!-- Intervals Selection -->
          <div [hidden]="!showIntervals">
            <div class="panel panel-default p-2">
              <mat-icon fontIcon="apps"/> Select Interval
              <div class="p-2">
                <!-- Intervals -->
                <div layout layout-sm="column">
                  <mat-form-field appearance="fill">
                    <mat-label>Intervals</mat-label>
                    <mat-select [(ngModel)]="fIntervalSelected" aria-label="Intervals"
                      (selectionChange)="intervalChange()" [disabled]="disFilters">
                      @for (interval of fIntervals; track identity($index, interval)) {
                        <mat-option [value]="interval">
                          {{interval.name}}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- Yearly -->
                <div layout layout-sm="column" [hidden]="fIntervalSelected?.id == Intervals.Daily">
                  <mat-form-field appearance="fill">
                    <mat-label>Year</mat-label>
                    <mat-select [(ngModel)]="fYearSelected" aria-label="Year"
                      (selectionChange)="intervalChange()" [disabled]="disFilters">
                      @for (year of fYears; track identity($index, year)) {
                        <mat-option [value]="year">
                          {{year.year}}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- Weekly -->
                @if (fIntervalSelected?.id == Intervals.Weekly) {
                  <div layout layout-sm="column">
                    <mat-form-field appearance="fill">
                      <mat-label>Week</mat-label>
                      <mat-select [(ngModel)]="fWeekSelected" aria-label="Week" [disabled]="disFilters" (selectionChange)="weekChange()">
                        @for (week of fWeeks; track identity($index, week)) {
                          <mat-option [value]="week">
                            {{week.number}}: {{week.startDate | date:'mediumDate'}} to {{week.endDate | date:'mediumDate'}}
                          </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                }

                <!-- Monthly -->
                @if (fIntervalSelected?.id == Intervals.Monthly) {
                  <div layout layout-sm="column">
                    <mat-form-field appearance="fill">
                      <mat-label>Month</mat-label>
                      <mat-select [(ngModel)]="fMonthSelected" aria-label="Month" [disabled]="disFilters" (selectionChange)="monthChange()">
                        @for (month of fMonths; track identity($index, month)) {
                          <mat-option [value]="month">
                            {{month.month}}
                          </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                }

                <!-- quarterly -->
                @if (fIntervalSelected?.id == Intervals.Quarterly) {
                  <div layout layout-sm="column">
                    <mat-form-field appearance="fill">
                      <mat-label>Quarter</mat-label>
                      <mat-select [(ngModel)]="fQuarterSelected" aria-label="Quarter" [disabled]="disFilters" (selectionChange)="quarterChange()">
                        @for (quarter of fQuarters; track identity($index, quarter)) {
                          <mat-option [value]="quarter">
                            Q{{quarter.number}}: {{quarter.startDate | date:'mediumDate'}} to {{quarter.endDate | date:'mediumDate'}}
                          </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                }
              </div>
            </div>
          </div>
          <div class="panel panel-default p-4">
            <div class="button-row">
              <form>
                <input type="file" title="Select File" (change)="onFileSelected($event)" hidden #fileSelect>
                <button mat-raised-button (click)="fileSelect.click()" color="primary" aria-label="Select File" [disabled]="disFile">
                  <mat-icon fontIcon="file_open"/> Select File
                </button>
              </form>
              <button mat-raised-button color="warn" aria-label="Clear" [disabled]="disClear" (click)="clearClick()">
                <mat-icon fontIcon="refresh"/> Clear
              </button>
            </div>
            <form [hidden]="!fileName && !sheetName">
              <mat-form-field appearance="fill">
                <mat-label>File Name</mat-label>
                <input matInput disabled [value]="fileName" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Sheet Name</mat-label>
                <input matInput disabled [value]="sheetName" />
              </mat-form-field>
            </form>
            <div class="drop" [hidden]="dropDis" fileUpload (onFileDropped)="onFileDropped($event)">
              or Drag and Drop an XLSX / XLS file here
            </div>
            <div [hidden]="!dropDis">
              <div class="callout callout-warning">
                <p>{{msgUpload}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Table Section-->
      <div class="p-4">
        <!-- Error Section-->
        @if (showUploadError) {
        <div class="panel panel-default">
          <div class="p-4 thick-red-border mat-elevation-z4">
            <section>
              <p class="m-2">{{errorUploadMsg.heading}}</p>
              <table class="table table-bordered table-striped cf no-margin">
                <thead class="cf">
                  <tr>
                    <th class="numeric"><div class="th"> <span>Row</span></div></th>
                    <th class="numeric"><div class="th"> <span>Error Message</span></div></th>
                  </tr>
                </thead>
                <tbody>
                  @for (errorRows of errorUploadMsg.errorRows; track errorRows) {
                    <tr class="itgTableTr">
                      <td class="alert-danger">{{errorRows.row}}</td>
                      <td class="alert-danger">{{errorRows.message}}</td>
                    </tr>
                  }
                </tbody>
              </table>
            </section>
          </div>
        </div>
        }
        <div class="panel panel-default" [hidden]="!showContentPage">
          <!-- Table Section-->
          <app-table [hidden]="hideTable" class="table-flip-scroll table-dynamic overflowAuto">
          </app-table>
        </div>
      </div>
    </div>
    <footer class="p-4">
      <div class="text-right">v{{ version }} / API v{{ apiVersion() }}</div>
    </footer>
  </main>
</div>
