<!-- Path: CLS\src\app\measure-data\measure-data.component.ts -->
<mat-drawer-container>
  <mat-drawer #drwr>
    <header>
      <h2>Filter</h2>
      <button mat-raised-button aria-label="Cancel" (click)="drwr.close()">
        <mat-icon>close</mat-icon> Cancel
      </button>
      <button mat-raised-button aria-label="Apply" (click)="loadTable(); drwr.close()">
        <mat-icon>save_alt</mat-icon> Apply
      </button>
    </header>
    <form class="panel-body">
      <mat-form-field appearance="fill">
        <mat-label>Intervals</mat-label>
        <mat-select name="fIntervalSelected" [(ngModel)]="model.fIntervalSelected" (selectionChange)="intervalChange()"
          aria-label="Intervals">
          <mat-option *ngFor="let interval of select.intervals; trackBy: identity" [value]="interval">
            {{interval.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" [hidden]="model.fIntervalSelected?.id == Intervals.Daily">
        <mat-label>Year</mat-label>
        <mat-select name="fYearSelected" [(ngModel)]="model.fYearSelected" (selectionChange)="intervalChange()"
          aria-label="Year">
          <mat-option *ngFor="let year of select.years; trackBy: identity" [value]="year">
            {{year.year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="model.fIntervalSelected?.id == Intervals.Weekly">
        <mat-label>Week</mat-label>
        <mat-select name="fWeekSelected" [(ngModel)]="model.fWeekSelected" aria-label="Week">
          <mat-option *ngFor="let week of select.weeks; trackBy: identity" [value]="week">
            {{week.number}}: {{week.startDate | date:'mediumDate'}} to {{week.endDate | date:'mediumDate'}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="model.fIntervalSelected?.id == Intervals.Monthly">
        <mat-label>Month</mat-label>
        <mat-select name="fMonthSelected" [(ngModel)]="model.fMonthSelected" aria-label="Month">
          <mat-option *ngFor="let month of select.months; trackBy: identity" [value]="month">
            {{month.month}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="model.fIntervalSelected?.id == Intervals.Quarterly">
        <mat-label>Quarter</mat-label>
        <mat-select name="fQuarterSelected" [(ngModel)]="model.fQuarterSelected" aria-label="Quarter">
          <mat-option *ngFor="let quarter of select.quarters; trackBy: identity" [value]="quarter">
            Q{{quarter.number}}: {{quarter.startDate | date:'mediumDate'}} to {{quarter.endDate |
            date:'mediumDate'}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Measure Type</mat-label>
        <mat-select name="fMeasureTypeSelected" [(ngModel)]="model.fMeasureTypeSelected" [disabled]="disabledAll">
          <mat-option *ngFor="let measureType of select.measureTypes" [value]="measureType">
            {{measureType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <h4>Region Hierarchy:</h4>
      <h5>{{ regions.ancestorPath.at(-1) }}</h5>
      <app-region-tree #regions [hierarchy]="select.hierarchy"
        [(selectedRegions)]="model.selectedRegion"></app-region-tree>
    </form>
  </mat-drawer>
  <mat-drawer-content>
    <app-sidebar></app-sidebar>
    <div>
      <h1>{{title}}</h1>
      <div class="panel panel-default panel-body">
        <!-- Error Section -->
        <app-errors [error]="errorMsg" [hidden]="!showError" [showContentPage]="showContentPage"
        [closeError]="closeError"></app-errors>
        <div class="panel panel-default" *ngIf="showError">
          <div class="panel-body">
            <ngb-alert type="danger" (closed)="closeError()">
              <p>{{errorMsg.heading}}</p>
              <section class="table-flip-scroll table-dynamic overflowAuto">
                <table class="table table-bordered table-striped cf no-margin">
                  <thead class="cf">
                    <tr>
                      <th class="numeric">
                        <div class="th"> <span>Row</span></div>
                      </th>
                      <th class="numeric">
                        <div class="th"> <span>Error Message</span></div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let errorRows of errorMsg.errorRows" class="itgTableTr">
                      <td class="alert-danger">{{errorRows.row}}</td>
                      <td class="alert-danger">{{errorRows.message}}</td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </ngb-alert>
          </div>
        </div>
        <div class="panel panel-default" [hidden]="!showError">
          <div class="panel-body padB0 marB0 noBorder">
            <ngb-alert type="danger" (closed)="closeError()">
              <p>{{errorMsg.heading}}</p>
              <section class="table-flip-scroll table-dynamic overflowAuto">
                <table class="table table-bordered table-striped cf no-margin">
                  <thead class="cf">
                    <tr>
                      <th class="numeric">
                        <div class="th"> <span>Row</span></div>
                      </th>
                      <th class="numeric">
                        <div class="th"> <span>Error Message</span></div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let errorRows of errorMsg.errorRows" class="itgTableTr">
                      <td class="alert-danger">{{errorRows.row}}</td>
                      <td class="alert-danger">{{errorRows.message}}</td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </ngb-alert>
          </div>
        </div>
        <!-- Filter -->
        <button mat-raised-button color="primary" (click)="doFilter(); drwr.open()">
          <mat-icon>filter_list</mat-icon> Filter
        </button>
        <!-- Table Upper Section -->
        <span class="filter" *ngFor="let filter of filterSelected">{{filter}}</span>
        <div class="panel-header">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Table Filter</mat-label>
              <input matInput (keyup)="applyTableFilter($event)" placeholder="Search..." [disabled]="disabledAll" #input>
              <button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="input.value=''; applyTableFilter($event)">
                <mat-icon>close</mat-icon>
            </button>
            </mat-form-field>
            <div class="dataRange">
              <h5>{{ this.dataRange }}</h5>
            </div>
          </div>
          <mat-form-field appearance="fill" class="mar0" style="min-width:140px; width:220px;">
            <mat-label>Select</mat-label>
            <mat-select [(ngModel)]="model.selCalSelected" [disabled]="disabledAll || btnDisabled"
              (selectionChange)="onSelCalChange()">
              <mat-option *ngFor="let calculated of selCalculated" [value]="calculated.id">
                {{calculated.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary" aria-label="Edit Type" aria-label="Refresh" [disabled]="disabledAll" (click)="refresh()" matTooltip="Refresh Table">
            <mat-icon>refresh</mat-icon>
            Refresh
          </button>
        </div>
        <!-- Table Section -->
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8" [trackBy]="identity">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Measure Definition </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="calculated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Calculated </th>
            <td mat-cell *matCellDef="let element"> <mat-icon>{{ element.calculated === true ? "check": "" }}</mat-icon> </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
            <!-- <td mat-cell *matCellDef="let element"> {{element.target}} </td> -->
            <td mat-cell *matCellDef="let element; let i = index;" [ngStyle]="{ 'background-color': getBgColor(element) }">{{ element.target }}</td>
            <!-- <td mat-cell *matCellDef="let element; let i = index;" [ngStyle]="{ 'background-color': '#f44336' }">{{ element.target }}</td> -->
          </ng-container>
          <ng-container matColumnDef="units">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Units </th>
            <td mat-cell *matCellDef="let element"> {{element.units}} </td>
          </ng-container>
          <ng-container matColumnDef="explanation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Explanation </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="!isEditMode || element == !selectedRow">{{element.explanation}}</ng-container>
              <ng-container *ngIf="isEditMode && element == selectedRow">
                <mat-form-field>
                  <input matInput type="string" [(ngModel)]="model.explanation" [disabled]="disabledAll">
                </mat-form-field>
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="!isEditMode || element == !selectedRow">{{element.action}}</ng-container>
              <ng-container *ngIf="isEditMode && element == selectedRow">
                <mat-form-field>
                  <input matInput type="string" [(ngModel)]="model.action" [disabled]="disabledAll">
                </mat-form-field>
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef="updated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated </th>
            <td mat-cell *matCellDef="let element">{{ element.updated.shortDt}}</td>
          </ng-container>
          <ng-container matColumnDef="rowactions">
            <th mat-header-cell  *matHeaderCellDef> Element Actions </th>
            <td mat-cell *matCellDef="let element" >
              <button mat-raised-button color="primary" (click)="onEdit(element)" *ngIf="!isEditMode || element != selectedRow">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-raised-button color="primary" (click)="onSave(element)" *ngIf="isEditMode && element == selectedRow">
                <mat-icon>save</mat-icon>
              </button>
              <button mat-raised-button color="warn" (click)="onCancel(element)" *ngIf="isEditMode && element == selectedRow">
                <mat-icon>cancel</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="expandable-detail" [@detailExpand]="expandDetail.query(element).toString()">
                <div class="detail-items-1">
                  <b>ID</b><span>{{element.id}}</span>
                  <b>Units</b><span>{{element.units}}</span>
                  <b>Calculated</b><span>{{element.calculated}}</span>
                </div>
                <div class="detail-items-2">
                  <b>Description</b><span>{{element.description}}</span>
                  <b>Explanation</b><span>{{element.explanation}}</span>
                  <b>Evaluated</b><span>{{element.evaluated}}</span>
                </div>
                <div class="detail-items-3"><b>{{element.expression ? 'Expression' : ''}}</b> {{element.expression}}</div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"
            [class.expanded-row]="expandDetail.query(row)" (click)="expandDetail.toggle(row)"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell empty-table" colspan="6">No data matching the filter {{ input.value }}</td>
          </tr>
        </table>
        <footer>
          <span> Showing {{dataSource.filteredData.length}} entries </span>
        </footer>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
