/* For use in src/lib/core/theming/_palette.scss */
$teal-palette: (
 50 : hsl(191, 64%, 93%, 1),
100 : hsl(191, 68%, 80%, 1),
200 : hsl(191, 72%, 66%, 1),
300 : hsl(191, 76%, 52%, 1),
400 : hsl(191, 80%, 44%, 1),
500 : hsl(191, 84%, 36%, 1),
600 : hsl(191, 88%, 32%, 1),
700 : hsl(191, 92%, 28%, 1),
800 : hsl(191, 96%, 24%, 1),
900 : hsl(191, 100%, 20%, 1),
A100 : #ade4ff,
A200 : #7ad3ff,
A400 : #47c3ff,
A700 : #2dbaff,
contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000
));
/* For use in src/lib/core/theming/_palette.scss */
$orange-palette: (
  50 : #fef3e2,
  100 : #fde1b6,
  200 : #fcce86,
  300 : #fcba57,
  400 : #fbab36,
  500 : #fa9d21,
  600 : #f6911e,
  700 : #f0821b,
  800 : #e97318,
  900 : #df5b15,
  A100 : #ffffff,
  A200 : #ffeee5,
  A400 : #ffcdb3,
  A700 : #ffbc99,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
