/* For use in src/lib/core/theming/_palette.scss */
$teal-palette: (
  50 : #e0f5fc,  /* 82% S 93% L */
  100 : #b3e5f8, /* 81% S 83% L */
  200 : #81d5f1, /* 80% S 73% L */
  300 : #57cbf0, /* 77% S 61% L - 84% S 64% L */
  400 : #12b3eb, /* 74% S 53% L - 86% S 50% L */
  500 : #0c8caa, /* 76% S 48% L - 87% S 36% L */
  600 : #0c7c99, /* 85% S 32% L */
  700 : #05708b, /* 93% S 28% L */
  800 : #025b76, /* 97% S 24% L */
  900 : #005267, /* 100% S 20% L */
  A100 : #ade4ff,
  A200 : #7ad3ff,
  A400 : #47c3ff,
  A700 : #2dbaff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
/* For use in src/lib/core/theming/_palette.scss */
$orange-palette: (
  50 : #fef3e2,
  100 : #fde1b6,
  200 : #fcce86,
  300 : #fcba57,
  400 : #fbab36,
  500 : #fa9d21,
  600 : #f6911e,
  700 : #f0821b,
  800 : #e97318,
  900 : #df5b15,
  A100 : #ffffff,
  A200 : #ffeee5,
  A400 : #ffcdb3,
  A700 : #ffbc99,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
