<mat-progress-bar [hidden]="!progress" [mode]="progress ? 'indeterminate' : 'determinate'" class="fixed-top"></mat-progress-bar>
<mat-drawer-container>
  <mat-drawer #drwr>
    <header>
      <h2>Filter</h2>
      <button mat-raised-button aria-label="Cancel" (click)="drwr.close()">
        <mat-icon>close</mat-icon> Cancel
      </button>
      <button mat-raised-button aria-label="Apply" (click)="loadTable(); drwr.close()">
        <mat-icon>save_alt</mat-icon> Apply
      </button>
    </header>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Measure Type</mat-label>
        <mat-select name="level" [(ngModel)]="selectedMeasureType" [disabled]="disabledAll">
          @for (measureType of measureTypes; track measureType) {
            <mat-option [value]="measureType">
              {{measureType.name}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <h4>Region Hierarchy:</h4>
      <h5>{{ regions.ancestorPath.at(-1) }}</h5>
      <app-region-tree #regions [hierarchy]="hierarchy" [(selectedRegions)]="selectedRegion"></app-region-tree>
    </form>
  </mat-drawer>
  <mat-drawer-content>
    <app-sidebar></app-sidebar>
    <div>
      <h1>{{title}}</h1>
      <main class="panel panel-default panel-body mat-elevation-z4">
        <!-- Error Section-->
        <app-errors [error]="errorMsg" [hidden]="!showError" [showContentPage]="showContentPage"
        [closeError]="closeError"></app-errors>
        @if (showError) {
          <div class="panel panel-default ng-hide noBorder marB0">
            <div class="panel-body padB0 marB0 noBorder">
              <ngb-alert type="danger" (closed)="closeError()">
                <p>{{errorMsg.heading}}</p>
                <section class="table-flip-scroll table-dynamic overflowAuto">
                  <table class="table table-bordered table-striped cf no-margin">
                    <thead class="cf">
                      <tr>
                        <th class="numeric">
                          <div class="th"> <span>Row</span></div>
                        </th>
                        <th class="numeric">
                          <div class="th"> <span>Error Message</span></div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (errorRows of errorMsg.errorRows; track errorRows) {
                        <tr class="itgTableTr">
                          <td class="alert-danger">{{errorRows.row}}</td>
                          <td class="alert-danger">{{errorRows.message}}</td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </section>
              </ngb-alert>
            </div>
          </div>
        }
        <div class="panel panel-default" [hidden]="!showError">
          <div class="panel-body padB0 marB0 noBorder">
            <ngb-alert type="danger" (closed)="closeError()">
              <p>{{errorMsg.heading}}</p>
              <section class="table-flip-scroll table-dynamic overflowAuto">
                <table class="table table-bordered table-striped cf no-margin">
                  <thead class="cf">
                    <tr>
                      <th class="numeric">
                        <div class="th"> <span>Row</span></div>
                      </th>
                      <th class="numeric">
                        <div class="th"> <span>Error Message</span></div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (errorRows of errorMsg.errorRows; track errorRows) {
                      <tr class="itgTableTr">
                        <td class="alert-danger">{{errorRows.row}}</td>
                        <td class="alert-danger">{{errorRows.message}}</td>
                      </tr>
                    }
                  </tbody>
                </table>
              </section>
            </ngb-alert>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="drwr.open()">
          <mat-icon>filter_list</mat-icon> Filter
        </button>
        @for (filter of filtersSelected; track filter) {
          <span class="filter">{{filter}}</span>
        }
        <div class="panel-header">
          <mat-form-field appearance="fill">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search..." [disabled]="disabledAll" #input>
            @if (input.value) {
              <button matSuffix mat-icon-button aria-label="Clear"
                (click)="input.value=''; applyFilter($event)">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows [trackBy]="identity">
          <ng-container matColumnDef="measureDefinition">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Measure Definition </th>
            <td mat-cell *matCellDef="let row" (click)="expand.toggle(row)">{{row.measureDefinition}}</td>
          </ng-container>
          @for (col of displayedColumns.slice(1); track col; let i = $index) {
            <ng-container [matColumnDef]="col">
              <th mat-header-cell *matHeaderCellDef> {{col}} </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox [disabled]="!expand.query(row)" [(ngModel)]="row[col].active" matTooltip="Active" color="primary">
                  A
                </mat-checkbox>
                <mat-checkbox [disabled]="!expand.query(row)" [(ngModel)]="row[col].expression" matTooltip="Calculated Expression" color="primary">
                  E
                </mat-checkbox>
                <mat-checkbox [disabled]="!expand.query(row)" [(ngModel)]="row[col].rollup" matTooltip="Rollup" color="primary">
                  R
                </mat-checkbox>
              </td>
            </ng-container>
          }
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
              <div class="expandable-detail" [@detailExpand]="expand.query(row).toString()">
                <button mat-raised-button (click)="save(row)" color="accent" aria-label="Save">
                  <mat-icon>save_alt</mat-icon> Save
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" class="table-row"
          [class.expanded-row]="expand.query(row)" #tr></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell empty-table" colspan="6">No data matching the filter {{ input.value }}</td>
          </tr>
        </table>
        <footer>
          <span> Showing {{dataSource.filteredData.length}} entries </span>
        </footer>
      </main>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
