<!--<h1>{{title}}</h1>-->
<!--<app-nav></app-nav>-->

<!-- <app-login></app-login> -->
<app-navbar></app-navbar>

<div class="full-container">
  <div class="general-container" [ngClass]="{'expanded': _navSettingsService.enableNavBar && toggle,'collapsed': _navSettingsService.enableNavBar && !toggle}">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- <div class="full-container">
  <div class="login-container" [ngClass]="{'show': getCurrentUser(), 'not-show': !getCurrentUser()}">
    <app-login></app-login>
    <app-navbar></app-navbar>
  </div>
  <div class="general-container" [ngClass]="{'expanded': toggle, 'collapsed': !toggle}">
    <router-outlet></router-outlet>
  </div>
</div> -->
