<div [ngClass]="{'sidebar-expanded': opened, 'sidebar-collapsed': !opened}" class="sidebar mat-elevation-z6">
  <header class="sidebar-title" *ngIf="opened">Deliver Data Portal</header>
  <ul>
    <li matRipple>
      <a class="fa fa-calendar" routerLink="/measuredata">
        <span *ngIf="opened">Measure Data</span>
      </a>
    </li>
    <li matRipple *ngIf="roleId > 1">
      <a class="fa fa-pencil" routerLink="/targets">
        <span *ngIf="opened">Targets</span>
      </a>
    </li>
    <li matRipple *ngIf="roleId > 2">
      <a class="fa fa-list" routerLink="/measures">
        <span *ngIf="opened">Measures</span>
      </a>
    </li>
    <li matRipple *ngIf="roleId > 1">
      <a class="fa fa-file" routerLink="/measuredefinition">
        <span *ngIf="opened">Measure Definition</span>
      </a>
    </li>
    <li matRipple *ngIf="roleId > 2">
      <a class="fa fa-map" routerLink="/hierarchy">
        <span *ngIf="opened">Hierarchy</span>
      </a>
    </li>
    <li matRipple>
      <a class="fa fa-upload" routerLink="/dataimports">
        <span *ngIf="opened">Data Imports</span>
      </a>
    </li>
    <li>
      <a class="fa fa-link" (click)="tableau()"><span *ngIf="opened" matRipple>Tableau</span>
      </a>
    </li>
  </ul>
</div>
