.topbar {
  display: flex;
  color: white;
  background-color: var(--mat-primary-500);
  height: 70px;
}

.nav-logo-expanded,
.nav-logo-collapsed,
.nav-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo-expanded {
  width: 280px;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  filter: drop-shadow(3px 1px 6px hsl(0, 0%, 100%, .5));
}

.nav-logo-expanded svg {
  width: 188px;
  height: auto;
}

.nav-logo-collapsed {
  width: 85px;
}

.nav-toggle {
  width: 65px;
  cursor: pointer;
}

.help-button {
  display: inline;
  margin: auto 2em auto auto;
  cursor: pointer;
  color: white;
  font-size: 20px;
  border-radius: 50%;
}

.dropdown {
  display: inline-block;
  margin: auto 4em auto 2em;
}
